sentence-transformers
transformers
torch
scikit-learn
accelerate
datasets
torch-geometric
vector-quantize-pytorch
networkx
numpy
h5py
tqdm
pyyaml
wandb
torchbiggraph @ git+https://github.com/joelbarmettlerUZH/PyTorch-BigGraph.git@7faa89d6ae034332b1836d2f6a0e51bdc931afe8
psutil
flash-attn
peft
